nav {
    background-color: #4c89c6; 
    width: 100%;           
    padding: 10px 0;       
}

nav ul {
    list-style-type: none;  
    padding: 0;             
    margin: 0;              
    text-align: center;     
}

nav ul li {
    display: inline-block;  
    margin-right: 20px;     
}

nav ul li:last-child {
    margin-right: 0;        
}

nav ul li a {
    color: white;          
    text-decoration: none;  
    padding: 10px 15px;     
    display: block;         
    transition: background-color 0.3s, color 0.3s; 
}

nav ul li a:hover {
    background-color: #555; 
    color: #fff;            
}
