.overflow-box {
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: visible;
}

.overflow-box.hidden {
    overflow: hidden;
}




.overflow-box.scroll {
    overflow: scroll;
}




.overflow-box.auto {
    overflow: auto;
}
