.box {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.red {
    background-color: red;
    top: 50px;
    left: 50px;
    z-index: 1; 
}




.blue {
    background-color: blue;
    top: 150px;
    left: 100px;
    z-index: 2; /
}




.green {
    background-color: green;
    top: 250px;
    left: 150px;
    z-index: 3; 
}




.box p {
    color: white;
    font-size: 20px;
}
