.sticky-header {
    position: sticky;
    top: 0;
    background-color: #2452e8;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #444;
    z-index: 1000; 
}


.sticky-header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.sticky-header nav a:hover {
    text-decoration: underline;
}



.content {
    margin-top: 80px;
    padding: 20px;
    line-height: 1.8;
}
